@font-face {
    font-family: 'Mark';
    src: url('Mark-Hairline-Italic.eot');
    src: local('Mark-Hairline-Italic'),
        url('Mark-Hairline-Italic.eot?#iefix') format('embedded-opentype'),
        url('Mark-Hairline-Italic.woff2') format('woff2'),
        url('Mark-Hairline-Italic.woff') format('woff'),
        url('Mark-Hairline-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Medium.eot');
    src: local('Mark-Medium'),
        url('Mark-Medium.eot?#iefix') format('embedded-opentype'),
        url('Mark-Medium.woff2') format('woff2'),
        url('Mark-Medium.woff') format('woff'),
        url('Mark-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Black.eot');
    src: local('Mark-Black'),
        url('Mark-Black.eot?#iefix') format('embedded-opentype'),
        url('Mark-Black.woff2') format('woff2'),
        url('Mark-Black.woff') format('woff'),
        url('Mark-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Regular-Italic.eot');
    src: local('Mark-Regular-Italic'),
        url('Mark-Regular-Italic.eot?#iefix') format('embedded-opentype'),
        url('Mark-Regular-Italic.woff2') format('woff2'),
        url('Mark-Regular-Italic.woff') format('woff'),
        url('Mark-Regular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Extralight-Italic.eot');
    src: local('Mark-Extralight-Italic'),
        url('Mark-Extralight-Italic.eot?#iefix') format('embedded-opentype'),
        url('Mark-Extralight-Italic.woff2') format('woff2'),
        url('Mark-Extralight-Italic.woff') format('woff'),
        url('Mark-Extralight-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Light.eot');
    src: local('Mark-Light'),
        url('Mark-Light.eot?#iefix') format('embedded-opentype'),
        url('Mark-Light.woff2') format('woff2'),
        url('Mark-Light.woff') format('woff'),
        url('Mark-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Heavy.eot');
    src: local('Mark-Heavy'),
        url('Mark-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Mark-Heavy.woff2') format('woff2'),
        url('Mark-Heavy.woff') format('woff'),
        url('Mark-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Bold.eot');
    src: local('Mark-Bold'),
        url('Mark-Bold.eot?#iefix') format('embedded-opentype'),
        url('Mark-Bold.woff2') format('woff2'),
        url('Mark-Bold.woff') format('woff'),
        url('Mark-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Heavy-Italic.eot');
    src: local('Mark-Heavy-Italic'),
        url('Mark-Heavy-Italic.eot?#iefix') format('embedded-opentype'),
        url('Mark-Heavy-Italic.woff2') format('woff2'),
        url('Mark-Heavy-Italic.woff') format('woff'),
        url('Mark-Heavy-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Black-Italic.eot');
    src: local('Mark-Black-Italic'),
        url('Mark-Black-Italic.eot?#iefix') format('embedded-opentype'),
        url('Mark-Black-Italic.woff2') format('woff2'),
        url('Mark-Black-Italic.woff') format('woff'),
        url('Mark-Black-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Light-Italic.eot');
    src: local('Mark-Light-Italic'),
        url('Mark-Light-Italic.eot?#iefix') format('embedded-opentype'),
        url('Mark-Light-Italic.woff2') format('woff2'),
        url('Mark-Light-Italic.woff') format('woff'),
        url('Mark-Light-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Thin-Italic.eot');
    src: local('Mark-Thin-Italic'),
        url('Mark-Thin-Italic.eot?#iefix') format('embedded-opentype'),
        url('Mark-Thin-Italic.woff2') format('woff2'),
        url('Mark-Thin-Italic.woff') format('woff'),
        url('Mark-Thin-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Thin.eot');
    src: local('Mark-Thin'),
        url('Mark-Thin.eot?#iefix') format('embedded-opentype'),
        url('Mark-Thin.woff2') format('woff2'),
        url('Mark-Thin.woff') format('woff'),
        url('Mark-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Extralight.eot');
    src: local('Mark-Extralight'),
        url('Mark-Extralight.eot?#iefix') format('embedded-opentype'),
        url('Mark-Extralight.woff2') format('woff2'),
        url('Mark-Extralight.woff') format('woff'),
        url('Mark-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-SmallCaps-Black.eot');
    src: local('Mark-SmallCaps-Black'),
        url('Mark-SmallCaps-Black.eot?#iefix') format('embedded-opentype'),
        url('Mark-SmallCaps-Black.woff2') format('woff2'),
        url('Mark-SmallCaps-Black.woff') format('woff'),
        url('Mark-SmallCaps-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Book-Italic.eot');
    src: local('Mark-Book-Italic'),
        url('Mark-Book-Italic.eot?#iefix') format('embedded-opentype'),
        url('Mark-Book-Italic.woff2') format('woff2'),
        url('Mark-Book-Italic.woff') format('woff'),
        url('Mark-Book-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-SmallCaps-Regular.eot');
    src: local('Mark-SmallCaps-Regular'),
        url('Mark-SmallCaps-Regular.eot?#iefix') format('embedded-opentype'),
        url('Mark-SmallCaps-Regular.woff2') format('woff2'),
        url('Mark-SmallCaps-Regular.woff') format('woff'),
        url('Mark-SmallCaps-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Regular.eot');
    src: local('Mark-Regular'),
        url('Mark-Regular.eot?#iefix') format('embedded-opentype'),
        url('Mark-Regular.woff2') format('woff2'),
        url('Mark-Regular.woff') format('woff'),
        url('Mark-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Hairline.eot');
    src: local('Mark-Hairline'),
        url('Mark-Hairline.eot?#iefix') format('embedded-opentype'),
        url('Mark-Hairline.woff2') format('woff2'),
        url('Mark-Hairline.woff') format('woff'),
        url('Mark-Hairline.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Bold-Italic.eot');
    src: local('Mark-Bold-Italic'),
        url('Mark-Bold-Italic.eot?#iefix') format('embedded-opentype'),
        url('Mark-Bold-Italic.woff2') format('woff2'),
        url('Mark-Bold-Italic.woff') format('woff'),
        url('Mark-Bold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Medium-Italic.eot');
    src: local('Mark-Medium-Italic'),
        url('Mark-Medium-Italic.eot?#iefix') format('embedded-opentype'),
        url('Mark-Medium-Italic.woff2') format('woff2'),
        url('Mark-Medium-Italic.woff') format('woff'),
        url('Mark-Medium-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Mark';
    src: url('Mark-Book.eot');
    src: local('Mark-Book'),
        url('Mark-Book.eot?#iefix') format('embedded-opentype'),
        url('Mark-Book.woff2') format('woff2'),
        url('Mark-Book.woff') format('woff'),
        url('Mark-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

